
html, body
{
    height: 100%;
}
#title {
    background-color: #BB0000;
    color: white;
    font-family: 'Playfair Display', serif;
    position: fixed; 
    width: 100%;
    top: 0;
    padding: 90px 10px;
    height: 100%;
    transition: 0.6s;
    text-align: center;
    z-index: 999;
}

#title-alt {
    background-color: #BB0000;
    color: white;
    font-family: 'Playfair Display', serif;
    position: fixed; 
    width: 100%;
    top: 0;
    padding: 10px 10px;
    padding-bottom: 5px;
    height: auto;
    transition: 0.6s;
    text-align: center;
    z-index: 999;
}
#header {
    font-size: 100px;
    transition: all .2s ease-in-out;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    height: auto;
    text-align: center;
}

#header-alt {
    font-size: 30px;
    transition: all .2s ease-in-out;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    height: auto;
    text-align: center;
}

.down-button {
    z-index: 10000;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#button-div {
    width: 70%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#subheader {
    display: inline-block;
    font-family: 'Voltaire', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}

#menu {
    display: inline-block;
    font-family: 'Voltaire', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    display: none;
}

#menu-alt {
    display: inline-block;
    font-family: 'Voltaire', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

#menu a {
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

#menu-alt a {
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

#spacer {
    height: 112px;
}
#small-spacer {
    height: 60px;
}
#intro {
    height: 800px;
    padding-top: 80px;
    /* background-color: rgb(20, 20, 20);
    color: white; */
}

#intro-content {
    float: left;
    width: 50%;
    padding-left: 10%;
    font-size: 18px;
}

#intro-header {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #BB0000;
    font-family: 'Voltaire', sans-serif;
    font-size: 45px;
    padding-bottom: 10px;
}

body {
    padding-top: 60px;
  }

#stack {
    float: left;
    width: 35%;
    padding-left: 5%;
}

.image {
    height: auto;
    width: 100%;
    padding-bottom: 5%;
}
.image-inner {
    height: auto;
    width: 100%;
}

#playlist {
    width: 100%;
    height: 300px;
}
#gallery-container {
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.caption-text {
    display: none;
}

.caption-header {
    font-family: 'Playfair Display', serif;
    color: #BB0000;
    font-size: 22px;
    margin-bottom: 3px;
}

.row {
    z-index: -1;
}

@media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important;
}
body {
    padding-top: 0px;
  }
}

.photo-container {
    width: auto;
    height: auto;
    position: relative;
}


.overlay {
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay:hover {
    display: block;
    cursor: pointer;
}

.overlay:hover + .myImg {
    opacity: 0.7;
}

.myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
}
      
      .myImg:hover {opacity: 0.7;}

      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }
      
      .modal-content {
        float: left;
        margin-left: 30px;
        margin-top: 4%;;
        width: 40%;
        max-width: 100%;
        overflow: hidden;
        border: none;
      }
      
      #caption {
        float: left;
        margin-left: 10%;
        margin-top: 4%;
        width: 40%;
        text-align: center;
        background-color: white;
        color: black;
        border-radius: 8px;
        padding: 10px 10px;
        height: auto;

      }
      
      .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 100px;
        right: 35px;
        color: white;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #BB0000;
        text-decoration: none;
        cursor: pointer;
      }
      
